@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    color: #181818;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.primary{
    color: #FD6E0A;
}


.btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.bg-color{
    color: #FFF8F3;
    color: #181818;
}

.title{
    font-size: 45px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.subtitle{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    text-align: center;
    padding: 30px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

nav .logo{
    font-weight: 800;
    font-size: 45px;
}



nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;

}

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    color: #181818;
    margin: 130px 0px;
}
.hero{
    background: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 100px;
    background-size: contain;
}


.hero-content > h4 {
    font-size: 45px;
    font-weight: 600;
}

.hero-content > h2{
    font-size: 85px;
    font-weight: 700;
    padding: 20 0px;
}

.hero-content > p {
    font-size: 18px;
    padding: 20px 0;
}

.hero-img{
    max-width: 580px;
}



.about-content{
    width: 830px;
    margin: 0px auto;
}

.info{
    color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;    
}

.single-info p{
    font-size: 20px;
}

.single-info h4{
    font-size: 20px;
    font-weight: bold;
}


/* skills section */

.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card-container .card{
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.07);
    padding: 30px;
}

.card h4{
    padding: 30px 0;
    font-weight: bold;
    font-size: 20px;
    color:#181818;
}

.card p{
    font-size: 16px;
    color: #181818;
}


/* CV section */
.cv-content{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    gap:73px;
}

.cv-education >h2,.cv-experience> h2{
    font-size: 30px;
    text-transform: capitalize;
    color:#474747;
    font-weight: bold;
    margin-bottom: 30px;
}

.info-title{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.card-info{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: semi-bold;
    color: #757575;
    padding: 10px 0px;
}

.card-description{
    font-size: 16px;
    color: #757575;
    padding: 20px 0px;
}
hr{
    margin-bottom: 20px;
}

footer{
    background-color: #FFF8F3;
    display: flex;
    padding: 130px 230px;
    justify-content: space-between;
    align-items: center;
}

footer .col1{
    width: 50%;
    margin-right: 20px;

}

footer .col2{
    width: 50%;
    margin-left: 20px;
}

footer .footer-head{
    font-size: 35px;
    font-weight: bold;
}

footer .footer-des{
    font-size: 16px;
    padding: 15px 0;
}

footer .footer-icon{
    display: flex;
    gap: 10px;
}

footer form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],input[type="email"],textarea{
    height: 64px;
    border: none;
    background-color: #fff;
    padding: 10px;
}

::placeholder {
    color:#757575;
    font-size: 19px;
    margin-left: 20px;
    display: inline-block;
}